<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Estudiantes</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Estudiantes</title>

     <!-- BOX ICONS -->
     <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
               <a href="#" class="navbar-brand">
                    <img src="./imgs/logo.png" style="height: 50px ;" srcset="">
                    Universidad Politecnica Salesiana
               </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="listadoEstudiantes.html">Listado Estudiantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="registrarEstudiante.html">Registrar Estudiantes</a>
                        </li>
                    </ul>
                    <ul class="nav ms-auto">
                        
                        <li class="nav-item dropstart">
                            <a class="nav-link text-dark ps-3 pe-1" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown">
                                <img src="./imgs/user.png" style="height: 50px" alt="user" class="img-user">
                            
                            </a>
                            <div class="dropdown-menu mt-2 pt-0" aria-labelledby="navbarDropdown">
                                <div class="d-flex p-3 border-bottom mb-2">
                                    <img src="./imgs/user.png" style="height: 50px" alt="user" class="img-user me-2">
                                    <div class="d-block">
                                        <p class="fw-bold m-0 lh-1" id="currentUser">{{currentUser}}</p>
                                    
                                    </div>
                                </div>
                                
                                <hr class="dropdown-divider">
                                <div class="dropdown-item" href="#">
                                    <button class="btn btn-danger" id="btnLogout" @click="logout" >Cerrar sesion</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <section class="perfil_estudiantes mb-5 px-4" >
            <h1 class="text-center mt-5 ">Listado Estudiantes</h1>
            <div class="text-center">
                <img src="./imgs/student.png" style="height: 100px;">
            </div>
            <div class="col-4 mt-1 mb-4">
                <h5>Buscar: </h5>
                <div class="input-group">
                    <input type="text" class="form-control" v-model="buscador">
                    <span class="input-group-text">
                        <i class='bx bx-search-alt-2'></i>
                    </span>
                </div>
            </div>
    
            <table class="table table-striped" style="width:100%">
                <thead>
                    <th style="width: 10%;">Cedula</th>
                    <th style="width: 15%;">Nombres</th>
                    <th style="width: 15%;">Apellidos</th>
                    <th style="width: 15%;">Tema</th>
                    <th style="width: 10%;">Fase</th>
                    <th style="width: 15%;">Correo</th>
                    <th style="width: 10%;">Nota</th>
                    <th style="width: 10%;">Calificar</th>
                </thead>
                <tbody>
                    <tr v-for="(estudiante, index) in filtroEstudiantes">
                        <!--                        
                        <td style="width: 20%;">
                            <img v-bind:src="estudiante.foto" alt="imagen" class="" style="height: 150px; width: 150px;">
                        </td> -->
                        <td style="width: 10%; vertical-align: middle;">{{estudiante.cedula}}</td>
                        <td style="width: 15%; vertical-align: middle;">{{estudiante.nombres}}</td>
                        <td style="width: 15%; vertical-align: middle;">{{estudiante.apellidos}}</td>
                        <td style="width: 15%; vertical-align: middle;">{{estudiante.tema}}</td>
                        <td style="width: 10%; vertical-align: middle;">{{estudiante.fase_id}}</td>
                        <td style="width: 15%; vertical-align: middle;">{{estudiante.correo}}</td>
                        <td style="width: 10%; vertical-align: middle;">{{estudiante.nota_final}}</td>
                        <td style="width: 10%; vertical-align: middle;"><button type="button" class="btn btn-dark px-4" @click="calificar(index)" >Calificar</button></td>
                    </tr>
                </tbody>
            </table>
    
            
        </section>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                estudiantes: [],
                id_usuario: localStorage.getItem('id_usuario'),
                foto: '',
                cedula: '',
                nombres: '',
                apellidos: '',
                fase: '',
                correo: '',
                nota: '',
                buscador:'',
                currentUser: localStorage.getItem('username')
            },
            mounted() {
                this.getEstudiantes();
         
            },
            computed: {
                filtroEstudiantes() {
                  if(this.buscador == ''){
                    return this.estudiantes;
                }   
                return this.estudiantes.filter((estudiante) => {
                    return estudiante.nombres.toLowerCase().includes(this.buscador.toLowerCase()) || estudiante.cedula.toLowerCase().includes(this.buscador.toLowerCase())
                });
               
                }
            },
            methods:{
                getEstudiantes(){
                    fetch('https://concurso-backend-api.herokuapp.com/estudiantes', {
                        headers: {
                            authorization: localStorage.getItem('token')
                        }
                    })
                    .then(res => {
                        if(res.status == 401){
                                window.location.href = 'login.html';
                            }else{
                                return res.json();
                            }
                    })
                    .then(data => {
                        this.estudiantes = data;
                        console.log(data)
                    })
                },
                logout(){
                    localStorage.removeItem('id_usuario');
                    localStorage.removeItem('token');
                    localStorage.removeItem('rol');
                    localStorage.removeItem('username');
                    window.location.href = 'login.html';
                },
                calificar(index){
                    event.preventDefault()
                    console.log(this.estudiantes[index].id)
                    localStorage.setItem("id_estudiante",this.estudiantes[index].id)
                    window.location = "calificarEstudiante.html"
                },
                indexWhere(array, conditionFn) {
					const item = array.find(conditionFn)
					return array.indexOf(item)
				},
                borrarJuguete(index){
					// this.usuarios.splice(index,1)
					// console.log(index);
					//Get user id and delete it from the database
					let id = this.juguetes[index].id;
					fetch(''+id,{
						method:'DELETE',
						headers:{
							'authorization':localStorage.getItem('token')
						}
					}).then(response=>{
						this.juguetes.splice(index,1);
					});

				},
				limpiar(){
					this.id="";
					this.nombre="";
					this.ruc="";
					this.titular="";
					this.selected="";
					this.direccion="";
					this.telefono="";
					this.id_usuario="";
					
				},
                onFileSelected(event){
                    this.file = event.target.files[0];
                    console.log(this.file);
                },
                editarJuguete(index){
                    this.id = this.juguetes[index].id;
                    this.nombre = this.juguetes[index].nombre;
                    this.precio = this.juguetes[index].precio;
                    this.stock = this.juguetes[index].stock;
                    this.descripcion = this.juguetes[index].descripcion;
                },
            },
            logout(){
                    localStorage.removeItem('id_usuario');
                    localStorage.removeItem('token');
                    localStorage.removeItem('rol');
                    localStorage.removeItem('username');
                    window.location.href = 'login.html';
                }
        })
        
    </script>

    
      <!-- Javascript de Bootsrap -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>
</html>
    
</body>
</html>